body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-size: 30px;
    font-weight: bold;
}

button{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.buttonIcon{
    height: 50px;
}

.resetScoreBtn,
.autoPlayBtn{
    margin-top: 10px;
    color: white;
    height: 60px;
    font-weight: bold;
}

.js-result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.js-score{
    margin-top: 50px;
}